@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

:root {
    --primary: #396622;
    --secondary: #ebebeb;
    --gray: #4e3024;
    --silver: #ccaa88;
    --gray2: #595959;
    --primary2: #529232;
    --gray3: #44413f;
    --gray3: #2e211a;
    --gray3: #a38669;
    --gray4: #3f3223;
    --darkgreen: #1b241c;
}

#top {
    display: flex;
    background-color: #1b241c;
    background-color: var(--darkgreen);
    box-shadow: 0px 0px 4px black;
}

#toptext {
    color: #ccaa88;
    color: var(--silver);
    font-family: "Raleway";
    font-size: 1.6em;
    text-align: left;
    margin-left: 0.25em;
    align-self: center;
}

#topindicator {
    padding-left: 0.5em;
    color: white;
    font-family: "Raleway";
    font-size: 1.6em;
    text-align: right;
    align-self: center;
}

#imageZone {
    padding: 0em 1em;
    display: flex;
    flex-wrap: wrap;
}

.resImg {
    width: 12em;
    margin: 0.25%;
    color: white;
    background-size: cover;
}

.resImgG {
    padding: 5em 0em;
    text-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(0,0,0,0.3));
    align-self: center;
}

.resImg:hover {
    cursor:pointer;
    filter: brightness(50%);
}

#noResAlert {
    width: 80%;
    padding: 1em;
    padding-top: 0em;
}
