@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

@font-face {
    font-family: Prompt;
    src: url(fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Prompt-Bold;
    src: url(fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Prompt-Ital;
    src: url(fonts/poppins/Poppins-Italic.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(fonts/poppins/Poppins-Bold.ttf);
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --primary: #396622;
    --secondary: #ebebeb;
    --gray: #4e3024;
    --silver: #ccaa88;
    --gray2: #595959;
    --primary2: #529232;
    --gray3: #44413f;
    --gray3: #2e211a;
    --gray3: #a19384;
    --gray4: #3f3223;
    --darkgreen: #1b241c;
}

/*This website's Desert Grass aesthetic concept was inspired by the light-sierra bark of leafy, spring-green tree canopies.

The addition of a warm tan and a dark, minty green add depth to the basic scheme. 
*/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #a19384;
    background-color: var(--gray3);
    font-family:"Raleway", "Trebuchet MS", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin: 0;
}

#content-wrapper {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.3), transparent);
}

/* HEADER */

#header {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;

    font-family: "Raleway";
    background-color: #396622;
    background-color: var(--primary);
    padding: 10% 2%;

    box-shadow: 0px 0px 10px black;
}

.headItem {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    padding: 0.1em;
    color: white;
    text-decoration: none;
}

.headItem:hover {
    background-color: #ebebeb;
    background-color: var(--secondary);
    cursor: pointer;
    color: #4e3024;
    color: var(--gray);
}

#dropdownAimg,
#dropdownBimg {
    height: 0.75em;
    width: 0.75em;
    margin-left: 0.5em;
}

#srch {
    height: 1em;
    padding: 0px;
    margin: 1em;
    display: flex;
    justify-items: center;
    align-items: center;
}

#browsebar {
    margin-right: 0.2em;
    padding: 0.25em;
    /*height: 1.2em;*/
    height: 100%;
    width: 75%;

    border: 0.1em solid white;
    background-color: #ebebeb;
    background-color: var(--secondary);
    color: #4e3024;
    color: var(--gray);
    border-radius: 0px;
}

#search {
    margin-right: auto;
    padding:0.2em;
    height: 1em;

    background-color: #4e3024;
    background-color: var(--gray);
    border: 0.1em solid #ebebeb;
    border: 0.1em solid var(--secondary);
}

#search:hover {
    background-color: #ccaa88;
    background-color: var(--silver);
}

#header_logo {
    height: 3em;
    margin: auto auto;
}


#header_logo_cont {
    display:flex;
    margin-left: auto;
    margin-right: 0;
    background-color: #396622;
    background-color: var(--primary);
}

/* HEADER DROPDOWNS */

#dropdownA {
    z-index: 1;
    background-color: #4e3024;
    background-color: var(--gray);
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: -5%;

    padding: 0.1em;

    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#dropdownB {
    z-index: 1;
    background-color: #4e3024;
    background-color: var(--gray);
    color: white;
    font-size: 1em;
    text-align: center;
    margin-top: -5%;

    padding: 0.1em;

    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.droplist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.drop_item {
    padding: 0;
    margin: 0.5em 0.5em;
}

.drop_item:hover {
    color: #396622;
    color: var(--primary);
    cursor: pointer;
}

#dropA, #dropB {
    font-size: 1.1em;
}

/* TOP */
#top {
    display: block;
    width: 81%;
    margin-left: 19%;
    padding: 0%;
    margin-bottom: 1%;
    background-size: cover;
}

#gradient {
    display: block;
    padding-bottom: 5%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.5))
}

#logo {
    margin-top: 0;
    margin-bottom: 2.5%;
    padding-right: 5%;
    width: 33%;
    background-color: rgba(235, 235, 235, 0.8);
    background-color: transparent;
}

#logo2 {
    margin-top: 0;
    margin-bottom: 2%;
    padding-right: 5%;
    width: 30%;
    background-color: rgba(235, 235, 235, 0.8);
    background-color: transparent;
}
/* SOCIALS 

DEACTIVATED due to ugliness 
#socials {
    display: flex;
    padding: 5%;
    padding-bottom: 7%;
    justify-content: left;
    align-content: center;
}

.sociallink {
    display: flex;
    justify-content: center;
    margin: 0 1%;
    width: 25%;
}

.socialmedia {
    opacity: 0.7;
    width: 100%;
    border-radius: 25%;
}

.socialmedia:hover {
    opacity: 1;
}

*/

/* CONTENT */

#content {
    position: relative;
    margin: auto auto;
    width: 81%;
    margin-right: 0;
}

.topic,
.contenttext {
    color: white;
    width: 100%;
    text-align: center;
    /*background-color: rgba(0,0,0,0.5);*/
}

.contenttext2 {
    color: #396622;
    background-color: transparent;
}

.topic {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 2.1em;
}

.ital {
    font-family: "Prompt-Ital";
}

iframe {
    width: 70%;
    margin: 5% 15%;
    margin-top: 0%;
}

.gallery {
    width: 80%;
    margin: auto auto;
    padding-bottom: 3em;
}

.gallImg {
    width: 10em;
    width: 50%;
    background-position: center;
    background-size: cover;
    padding: 0em;
}

.gallImg:hover {
    background-color: black;
    cursor: pointer;
    filter: brightness(90%);
}

.desc {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.67));
    color: white;
    display: flex;
    align-items: center;
    margin: 0px;
    padding-left: 0.5em;
    font-size: 2em;
    height: 30vw;
}

#popup {
    z-index: 2;
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#popupInset {
    position:fixed;
    top: 1%;
    left: 25%;
    right: 25%;
    padding-bottom: 2%;
    background-color: white;
}

#popupimg {
    max-height: 85vh;
    max-width: 90%;
}

#popupTitle {
    display: flex;
    margin: 0.1em;
    font-size: 2em;
}

#imgtitle {
    margin: 0;
    padding: 0;
    margin-left: auto;
}

#xbutton {
    margin-left: auto;
    margin-right: 0.5em;
    align-self: center;
}

#xbutton:hover {
    cursor: pointer;
    background-color: #ebebeb;
    background-color: var(--secondary);
}

#incat {
    font-family: "Prompt";
    font-size: 0.5em;
    color: #396622;
    color: var(--primary);
    padding: 0em 0.25em;
    margin-top: 0.4em;
    align-self: center;
}

#incat:hover {
    background-color: #ccaa88;
    background-color:var(--silver);
}

.toggHeader {
    display:flex;
    background-size:cover;
    background-position:center;
    margin-top: 1%;
    box-shadow: 0px 2px 4px black;
}

.toggHeader:hover {
    cursor: pointer;
}

.subheading {
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    font-weight: 600;
    padding: 0.5% 2%;
    color: white;
    width: 95%;
}

.closeGroup {
    margin: 0;
    align-self: center;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    font-weight: 600;
    padding: 0.5% 2%;
    color: white;
    width: 5%;
}

.closeGroup:hover {
    cursor: pointer;
    color: #529232;
    color: var(--primary2); 
}

.togglableGroup {
    padding: 0.5em 0em;
    background-color: #1b241c;
    background-color: var(--darkgreen);
    box-shadow: 0px 0px 4px black;
}

.subheading2 {
    padding: 0.5% 7%;
    color: #529232;
    color: var(--primary2);
}

.subtext, .subtext2 {
    font-size: 1.1em;
    padding: 0.5% 7%;
    color: #4e3024;
    color: var(--gray);
    color: white;
}

.subtext2 {
    padding-left: 10%;
}

.contentIMGdiv {
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.contentIMGdiv2 {
    height: 25vw;
}

.contentImg {
    max-height: 100%;
}

.caption {
    text-align: center;
    font-style: italic;
}

#footer {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 81%;
    margin: 0;
    text-align: center;

    font-size: 0.8em;
    color: white;
    padding: 0.5em 0em;
    background-color: var(--gray4);
    background-color: #1b241c;
    box-shadow: 0px 0px 10px #1b241c;
    background-color: var(--darkgreen);
    box-shadow: 0px 0px 10px var(--darkgreen);
}

@media (max-aspect-ratio: 1/1), (max-width: 770px) {

    .contentIMGdiv {
        height: 45vw;
    }

    .contentIMGdiv2 {
        height: 30vw;
    }
    
    .subtext, .subtext2 {
        font-size: 1.1em;
        padding: 0.5% 4%;
    }
    
    .subtext2 {
        padding-left: 10%;
    }

    #header_logo {
        height: 2em;
    }

    #header_logo_cont {
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 2%;
        padding: 0;
    }

    #browsebar {
        margin-left: auto;
        width: 100%;
    }

    #search {
        display: none;
    }

    #dropdownAimg {
        display: none;
    }

    #dropdownBimg {
        display: none;
    }

    #dropdownA, #dropdownB {
        font-size: 0.9em;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #logo {
        margin-right:0;
        width: 70%;
        overflow: hidden;
    }

    #logo2 {
        margin-right:0;
        width: 70%;
        overflow: hidden;
    }

    .contenttext {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .desc {
        font-size: 1.3em;
    }

    iframe {
        width: 90%;
        margin: 5%;
        margin-top: 0%;
    }

    #popupInset {
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .toggHeader {
        margin-top: 2.5%;
    }

    .gallery {
        width: 95%;
    }
} 

